.logo-container{
    margin: 20px 0;
}
.page-label-container{
    margin: 20px 0;
    float: right;
}
.item-container{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.item-container:hover{
    background-color: #F4F9FC;
    cursor: pointer;
}

.item-img-container{
    text-align: right;
}
.item-img{
    width: 150px;
    height: 150px;
}

.label-commom{
    color: #666;
}
.label-address{
    color: #999;
}

.rating {
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    bottom: 3px;
    position: relative;
    font-weight: bold;
}


.checkins-container{
    float: right;
}

.tip {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px 5px;
}

.pagination{
    margin: 20px;
}
